/* -------------------------------------------------------
   Radial & Conic Gradient Utilities
------------------------------------------------------- */
@utility cs-gradient-radial-center {
  background:radial-gradient(circle at center, var(--cs-gradient-stops));
}
@utility cs-gradient-radial-top {
  background:radial-gradient(circle at top, var(--cs-gradient-stops));
}
@utility cs-gradient-radial-bottom {
  background:radial-gradient(circle at bottom, var(--cs-gradient-stops));
}
@utility cs-gradient-conic {
  background:conic-gradient(var(--cs-gradient-stops));
}
@utility cs-gradient-conic-center {
  background:conic-gradient(from 0deg at 50% 50%, var(--cs-gradient-stops));
}
