/* -------------------------------------------------------
   Print Styles
------------------------------------------------------- */
@media print{
  .cs-acrylic{
    -webkit-backdrop-filter:none !important;
    backdrop-filter:none !important;
    background:#fff !important;
    border:1px solid var(--cs-print-border-color);
    box-shadow:none !important;
  }
  .cs-gradient-animate{ animation:none !important; }
}
